[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
opencv-python = "*"
pillow = "*"
polygon3 = "*"
torch = "*"
torchvision = "*"
torchnet = "*"
typer = "*"
ipykernel = "*"
matplotlib = "*"
black = "*"
pandas = "*"
pyarrow = "*"
tensorboard = "*"
setuptools = "==59.5.0"
segmentation-models-pytorch = {git = "https://github.com/qubvel/segmentation_models.pytorch"}
pytorch-lightning = "==1.5.4"

[dev-packages]
black = "*"
pre-commit = "*"
notebook = "*"
torch-tb-profiler = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
